// brand configuration
$brand: (
  "black": #000,
  "navy": #003366,
  "deep-navy": #002e56,
  "silver": #666666,
  "white": #fff,
  "light-silver": #ccc,
);

// light & dark palettes
$palette: (
  dark: (
    "primary": map-get($brand, "black"),
    "secondary": map-get($brand, "navy"),
    "tertiary": map-get($brand, "deep-navy"),
    "quarternary": map-get($brand, "silver"),
    "quinary": map-get($brand, "white"),

    "accent": map-get($brand, "navy"),
    "complimentary": map-get($brand, "deep-navy"),
    "highlight": map-get($brand, "silver"),
    "background": map-get($brand, "black"),
    "foreground": map-get($brand, "white"),

    "neutral1": map-get($brand, "silver"),
    "neutral2": map-get($brand, "light-silver"),
  ),
);
