$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@font-face {
  font-family: "Colossalis";
  src: url("../fonts/ColossalisRegular.otf");
  font-weight: normal;
  font-style: normal;
}
