.side-menu {
  width: 100%;
  max-width: 600px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $color-shade-lighter;

  &.sticky {
    position: fixed;
    top: 69px;
    width: 250px;
  }

  &.animated label::before {
    transition: transform 0.3s $ease-out;
  }

  ul {
    display: none;
    list-style-type: none;

    li {
      user-select: none;
      list-style-type: none;
    }

    li:last-child {
      margin-bottom: $margin-base * 3;
    }

    label.rotate::before {
      position: absolute;
      top: 50%;
      margin-top: -13px;
      left: -24px;
      width: 24px;
      bottom: 0;
      content: "\F101";
      font-size: 24px;
      font-family: FontAwesome;
    }

    ul {
      margin: 0;
      padding: 0 $padding-base * 8;
    }
  }

  > li > label {
    font: {
      size: $font-size-large;
      family: $font-family-title;
      weight: $font-weight-thin;
    }
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    padding: $padding-base * 3;
    border-top: 1px solid $color-shade;
  }

  input[type=checkbox] {
    position: absolute;
    font-size: 1rem;
    opacity: 0;
  }

  label,
  a {
    position: relative;
    display: block;
    padding: $padding-base * 2;
    color: rgba($color-accent, 1);
    text-decoration: none;
    font-size: 0.85rem;
  }

  label {
    position: relative;
    font-weight: bold;
    cursor: pointer;

    > span.lnr {
      position: absolute;
      top: 50%;
      margin-top: -$margin-base * 2;
      right: 0;
      transform: translate3d(0, 0, 0);
      transition: transform 300ms $ease-out;
    }

    &.rotate > span.lnr {
      transform: rotate(180deg);
    }
  }

  input[type=checkbox]:checked + label + ul,
  input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    display: block;
  }

  ul label,
  ul a {
    padding-left: 0;
    font-size: $font-size-small;
  }
}
